{% extends "index.html" %}
{% block content %}

    <h3>Use: Download report from QAD, then upload file and press 'submit' to convert into spreadsheet</h3>
    <h4>Works on</h4>
    <ul>
        <li>AP/AR Aging Report</li>
        <li>Trial Balance Summary</li>
        <li>Account Balance Detail</li>
        <li>Custom Account Balance Detail w/ Names</li>
    </ul>
    <form action = "http://localhost:5000/uploader" method = "POST"
         enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
    </form>
{% endblock %}